<template>
	<header class="site-header">
		<div class="containerss">
			<font-awesome-icon
				icon="fa-solid fa-bars"
				@click="toggle"
			></font-awesome-icon>
			<nuxt-link to="/" class="logo">
				<Logo :width="45" />
				<h2>{{ text }}</h2>
			</nuxt-link>
			<a
				v-if="showGithub"
				class="github-logo"
				href="https://github.com/suitmedia/generator-suit-baze"
				target="_blank"
			>
				<i class="bzi-github"></i
			></a>
		</div>
	</header>
</template>

<script>
export default {
	name: 'Header',
	emits: ['togglebar'],
	data() {
		return {
			color: 'transparent',
			text: 'Baze UI',
			showGithub: false
		}
	},
	mounted() {
		if (this.$route.path !== '/') {
			this.color = '#ff6700'
			this.text = 'SuitBaze'
			this.showGithub = true
		}
	},
	methods: {
		toggle() {
			this.$emit('togglebar')
		}
	}
}
</script>

<style lang="scss">
.site-header {
	display: flex;
	width: 100%;
	background-color: v-bind(color);
	height: 60px;
	font-family: 'Fira Mono', monospace;

	.containerss {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 1rem;
		max-width: 100vw;
		position: relative;
		width: 100%;
		margin-inline: 4rem;

		@media only screen and (max-width: 600px) {
			margin-inline: 0rem;
		}

		svg {
			height: 100%;
			color: white;
			background-color: #333333;
			display: none;
			align-items: center;
			justify-content: center;
			font-size: 1rem;
			padding-inline: 1.4rem;
			width: 15px;

			@media only screen and (max-width: 600px) {
				display: flex;
			}
		}

		h2 {
			margin: 0;
			color: white;
			font-size: 1.5rem;
		}

		.github-logo {
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			i {
				color: white;
				font-size: 1.5rem;
				cursor: pointer;
			}
		}
	}

	.logo {
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	&.transparent-header {
		background: transparent;

		.header-link {
			color: #fff;

			&:hover {
				color: $black20;
			}
		}
	}

	@media #{$large} {
		height: 70px;
	}
}
</style>
