<template>
	<footer class="site-footer">
		<p>Version 2.20.0</p>
		<p>|</p>
		<p>
			Powered by:
			<a href="https://suitmedia.com" target="_blank">suitmedia.com</a>
		</p>
	</footer>
</template>

<script>
export default {
	name: 'Footer'
}
</script>

<style lang="scss" scoped>
.site-footer {
	display: flex;
	gap: 1rem;
	color: white;
	justify-self: flex-end;

	@media only screen and (max-width: 330px) {
		flex-direction: column;
		text-align: center;
		gap: 0;

		p {
			margin: 0;
		}

		p:nth-child(2) {
			display: none;
		}
	}

	a {
		color: white;
	}
}
</style>
