<template>
	<PreCode>
		<div
			v-for="(item, index) in structure"
			:key="index"
			:style="{ paddingLeft: +item.tab * 20 + 'px' }"
		>
			<span v-if="item.closeTag">
				{{ '&lt;/' + item.closeTag + '&gt;' }}
			</span>
			<span v-else>
				&lt;{{ item.tag
				}}{{ item.class && " class='" + item.class + "'" }}&gt;{{ item.text
				}}{{ item.close && '&lt;/' + item.tag + '&gt;' }}
			</span>
		</div>
	</PreCode>
</template>

<script>
export default {
	props: {
		structure: {
			type: Array,
			default: null
		}
	}
}
</script>

<style scoped lang="scss">
.html-container {
	// padding-left: calc(20 * v-bind());
}
</style>
