<template>
	<nuxt-link to="/" class="site-logo">
		<img src="~assets/img/site-logo.png" alt="" :width="width" />
	</nuxt-link>
</template>

<script>
export default {
	props: {
		width: {
			type: Number,
			required: true,
			default: 60
		}
	}
}
</script>

<style lang="scss"></style>
