<template>
	<div class="content-code">
		<slot />
	</div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.content-code {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: #efecf4;
	overflow: hidden;
	padding: 0.5rem 0.8rem;
	width: 100%;
	word-spacing: 5px;
	margin-bottom: 1rem;
	font-family: monospace;
}
</style>
