<template>
	<form action="">
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Text Input</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<input class="form-input" type="text" name="text" placeholder="Text" />
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Full Width Input</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<input
					class="form-input form-input--block"
					type="text"
					name="fullwidth"
					placeholder="Full Width Input"
				/>
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Password Input</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<input
					class="form-input"
					type="password"
					name="password"
					placeholder="Password"
				/>
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Email Address</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<input
					class="form-input"
					type="email"
					name="email"
					placeholder="Email"
				/>
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Number Input</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<input
					class="form-input"
					type="number"
					name="number"
					placeholder="Number"
				/>
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">
				Single File Input (Full Width)
			</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<input
					class="form-input js-file-input"
					id="singleFile"
					type="file"
					name="file"
				/>
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">
				Multiple File Input
			</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<input
					class="form-input js-file-input"
					id="multipleFile"
					type="file"
					name="file"
					multiple
				/>
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Textarea Input</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<textarea
					class="form-input"
					name="textarea"
					placeholder="Text Area"
				></textarea>
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Disabled Input</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<input
					class="form-input"
					type="text"
					name="disabled"
					placeholder="Disabled"
					disabled
				/>
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Read-only Input</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<input
					class="form-input"
					type="text"
					name="readonly"
					placeholder="Read-only"
					readonly
				/>
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Dropdown Select</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<select class="form-input" name="dropdown">
					<option value="1">Option 1</option>
					<option value="2">Option 2</option>
					<option value="3">Option 3</option>
				</select>
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Radio Buttons</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<div class="form-check-group">
					<label class="form-check__item" for="rbOption1"
						><input id="rbOption1" type="radio" name="radio" /> Option 1</label
					>
					<label class="form-check__item" for="rbOption2"
						><input id="rbOption2" type="radio" name="radio" /> Option 2</label
					>
					<label class="form-check__item" for="rbOption3"
						><input id="rbOption3" type="radio" name="radio" /> Option 3</label
					>
				</div>
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Checkbox</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<div class="form-check-group">
					<label class="form-check__item" for="cbOption1"
						><input id="cbOption1" type="checkbox" name="checkbox" checked />
						Option 1</label
					>
					<label class="form-check__item" for="cbOption2"
						><input id="cbOption2" type="checkbox" name="checkbox" /> Option
						2</label
					>
					<label class="form-check__item" for="cbOption3"
						><input id="cbOption3" type="checkbox" name="checkbox" checked />
						Option 3</label
					>
				</div>
			</div>
		</div>
		<div class="mb-12 button-grid">
			<div class=""></div>
			<div class="buttons">
				<button class="btn btn--primary" type="submit">Submit</button>
				<button class="btn btn--ghost-secondary" type="reset">Cancel</button>
			</div>
		</div>
	</form>
</template>

<script>
export default {}
</script>
