<template>
	<div class="link-color-container">
		<p>
			Link color = <a class="link-primary" href="#">".link-primary"</a> (<a
				href="#"
				>Default link color</a
			>)
		</p>
		<p v-for="(color, index) in colors" :key="index">
			Link color = <a :class="color.class" href="#">{{ color.text }}</a>
		</p>
		<HtmlTag :structure="data.color" />
	</div>
</template>

<script>
import { data } from '../static/data/linkColor'
export default {
	data() {
		return {
			colors: [],
			data
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/linkcolors.json`)
			.then(res => {
				this.colors = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	}
}
</script>
