<template>
	<div class="color-container">
		<p v-for="(color, index) in colors" :key="index" :class="color.class">
			{{ color.text }}
		</p>
		<HtmlTag :structure="colorsTag" />
	</div>
</template>

<script>
export default {
	data() {
		return {
			colors: []
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/backgroundColors.json`)
			.then(res => {
				this.colors = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	},
	computed: {
		colorsTag() {
			return this.colors.map(item => {
				return { ...item, tag: 'p', close: true }
			})
		}
	}
}
</script>
