<template>
	<form action="" class="js-validate" @submit="handleSubmit">
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Username</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<input
					v-model="$v.formData.name.$model"
					class="form-input"
					type="text"
					name="username"
					placeholder="Username"
				/>
				<p v-if="$v.formData.name.$error" class="error-message">
					{{
						$v.formData.name.$model?.length === 0
							? 'Please enter your name'
							: $v.formData.name.$params.minLength.min >
							  $v.formData.name.$model?.length
							? 'Minimum length is 4'
							: $v.formData.name.$params.maxLength.max <
									$v.formData.name.$model?.length && 'Maximum length is 256 '
					}}
				</p>
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Email</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<input
					v-model="$v.formData.email.$model"
					class="form-input"
					type="email"
					name="email"
					placeholder="Email"
				/>
				<p v-if="$v.formData.email.$error" class="error-message">
					{{
						$v.formData.email.$model?.length === 0
							? 'Please enter your email'
							: $v.formData.email.$params.minLength.min >
							  $v.formData.email.$model?.length
							? 'Minimum length is 4'
							: $v.formData.email.$params.maxLength.max <
							  $v.formData.email.$model?.length
							? 'Maximum length is 256 '
							: $v.formData.email.$invalid && 'Please enter a valid email'
					}}
				</p>
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Birthdate</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<input
					v-model="$v.formData.date.$model"
					class="form-input datepicker-here js-date"
					type="date"
					name="birthdate"
					placeholder="Birthdate"
				/>
				<p v-if="$v.formData.date.$error" class="error-message">
					{{ $v.formData.date.$model?.length === 0 && 'Please choose date' }}
				</p>
			</div>
		</div>
		<div class="bzg mb-12">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Gender</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<div class="form-check-group">
					<label class="form-check__item" for="gender1"
						><input
							id="gender1"
							v-model="$v.formData.gender.$model"
							type="radio"
							name="gender"
							value="Male"
							checked="checked"
						/>
						Male</label
					>
					<label class="form-check__item" for="gender2"
						><input
							id="gender2"
							v-model="$v.formData.gender.$model"
							type="radio"
							name="gender"
							value="Female"
						/>
						Female</label
					>
				</div>
			</div>
		</div>
		<div class="bzg mb-24">
			<div class="bzg_c form-label" data-col="s12,m4,l4">Hobbies</div>
			<div class="bzg_c" data-col="s12,m8,l8">
				<div class="form-check-group form-input--block">
					<label class="form-check__item" for="hobby1"
						><input
							id="hobby1"
							v-model="$v.formData.hobbies.$model"
							type="checkbox"
							name="hobby"
							value="Reading"
						/>
						Reading</label
					>
					<label class="form-check__item" for="hobby2"
						><input
							id="hobby2"
							v-model="$v.formData.hobbies.$model"
							type="checkbox"
							name="hobby"
							value="Writing"
						/>
						Writing</label
					>
					<label class="form-check__item" for="hobby3"
						><input
							id="hobby3"
							v-model="$v.formData.hobbies.$model"
							type="checkbox"
							name="hobby"
							value="Running"
						/>
						Running</label
					>
					<label
						class="form-check__item"
						for="hobby4"
						data-invalid="Custom Error Message"
						><input
							id="hobby4"
							v-model="$v.formData.hobbies.$model"
							type="checkbox"
							name="hobby"
							value="Swimming"
						/>
						Swimming</label
					>
					<p v-if="$v.formData.hobbies.$error" class="error-message">
						{{
							$v.formData.hobbies.$model?.length === 0 &&
							'Please choose at least 1 hobbies'
						}}
					</p>
				</div>
			</div>
		</div>
		<div class="mb-12 button-grid">
			<div class=""></div>
			<div class="buttons">
				<button class="btn btn--primary" type="submit" :disabled="$v.$invalid">
					Submit
				</button>
			</div>
		</div>
	</form>
</template>

<script>
import { required, email, minLength, maxLength } from 'vuelidate/lib/validators'
export default {
	data() {
		return {
			formData: {
				name: null,
				email: null,
				date: null,
				gender: 'Male',
				hobbies: []
			}
		}
	},
	methods: {
		handleSubmit() {
			alert('Submit Form Success')
		}
	},
	validations: {
		formData: {
			name: {
				required,
				minLength: minLength(4),
				maxLength: maxLength(256)
			},
			email: {
				required,
				email,
				minLength: minLength(4),
				maxLength: maxLength(256)
			},
			date: {
				required
			},
			gender: {
				required
			},
			hobbies: {
				required
			}
		}
	}
}
</script>
