<template>
	<div class="alert-box-container">
		<div class="buttons">
			<button class="btn--primary" data-alert="#alert1" @click="openAlert1">
				Alert 1
			</button>
			<button class="btn--primary" data-alert="#alert2" @click="openAlert2">
				Alert 2
			</button>
		</div>
		<div
			v-if="showAlert1"
			id="alert1"
			class="alert--popup"
			@click.self="closeAlert1"
		>
			<div class="alert--primary alert--popup-content">
				<span class="alert--close" @click="closeAlert1">
					<font-awesome-icon icon="fas fa-times"></font-awesome-icon>
				</span>
				<h4>Lorem Ipsum!</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
					minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<hr />
				<p class="mb-0">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui
					obcaecati tempora. Quod, nesciunt culpa sunt sit itaque voluptate
					molestiae in quia quos quam tempora sequi illo molestias? Rerum, sit?
				</p>
			</div>
		</div>
		<div
			v-if="showAlert2"
			id="alert2"
			class="alert--popup"
			@click.self="closeAlert2"
		>
			<div class="alert--danger alert--popup-content">
				<span class="alert--close js-alert-close" @click="closeAlert2"
					><font-awesome-icon icon="fas fa-times"></font-awesome-icon
				></span>
				<h4>Number 2</h4>
				<p>Test Number 2</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			showAlert1: false,
			showAlert2: false
		}
	},
	methods: {
		openAlert1() {
			this.showAlert1 = true
		},
		closeAlert1() {
			this.showAlert1 = false
		},
		openAlert2() {
			this.showAlert2 = true
		},
		closeAlert2() {
			this.showAlert2 = false
		}
	}
}
</script>

<style scoped lang="scss">
.alert-box-container {
	.buttons {
		display: flex;
		gap: 0.5rem;
		margin-bottom: 1rem;
	}
}
</style>
