<template>
	<div class="alert-container">
		<div v-for="(alert, index) in alerts" :key="index" :class="alert.class">
			{{ alert.text }}
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			alerts: []
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/alerts.json`)
			.then(res => {
				this.alerts = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	}
}
</script>

<style scoped lang="scss">
.alert-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	margin-bottom: 1rem;
	width: 100%;
}
</style>
