<template>
	<div class="container-sidebar">
		<ul v-if="!$fetchState.pending">
			<li v-for="(list, index) in mainNav" :key="index">
				<nuxt-link :to="list.url">{{ list.title }}</nuxt-link>
			</li>
			<li class="plugin" @click="pluginActive = !pluginActive">
				<span>Plugins</span>
				<font-awesome-icon
					v-if="pluginActive"
					icon="fa-solid fa-caret-down"
				></font-awesome-icon>
				<font-awesome-icon
					v-else
					icon="fa-solid fa-caret-up"
				></font-awesome-icon>
			</li>
			<div v-if="pluginActive" class="plugins">
				<li>
					<nuxt-link to="/carousel">Slick Carousel</nuxt-link>
				</li>
				<li>
					<nuxt-link to="/datepicker">Air DatePicker</nuxt-link>
				</li>
			</div>
			<li>
				<nuxt-link to="/mixin">Mixin</nuxt-link>
			</li>
			<li>
				<nuxt-link to="/utils-function">Utils Function</nuxt-link>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	data() {
		return {
			mainNav: [],
			pluginActive: false
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/sideMenus.json`)
			.then(res => {
				this.mainNav = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	}
}
</script>

<style lang="scss" scoped>
.container-sidebar {
	background-color: white;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow: auto;

	@media only screen and (max-width: 600px) {
		display: none;
	}

	ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		padding: 0;

		li {
			list-style: none;
			width: 100%;

			a {
				color: black;
				padding: 0.5rem 1rem;
				width: 100%;
				display: inline-block;

				&.nuxt-link-exact-active {
					background-color: rgba(0, 0, 0, 0.1);
				}
			}

			span {
				color: black;
				width: 100%;
				display: inline-block;
				cursor: pointer;
			}
		}

		.plugins {
			width: 100%;
			li {
				a {
					padding-inline: 2rem;
				}
			}
		}

		.plugin {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.5rem 1rem;
		}
	}
}
</style>
