.alert {
    display: inline-block;
    padding: 9px 24px 7px;
    width: 100%;
    font-family: inherit;
    line-height: $base_line_height;
    text-align: left;
    vertical-align: middle;
    border: 1px solid black;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgba(black, 0.1);
}


@mixin alertStyle($state, $color, $shade: dark) {
    @extend .alert;

    @if $state == "white"{
        background-color: white;
    }
    @else{
        background-color: rgba($color, 0.5);
    }

    color: $color;
    border: 1px solid $color;
}

@each $state,
$color in $palettes {
    .alert--#{$state} {
        @include alertStyle($state, $color);
    }
}

@each $state,
$color in $light-palettes {
    .alert--#{$state} {
        @include alertStyle($state, $color, light);
    }
}

.alert{
    &--popup{
        position: fixed;
        background-color: rgba(0, 0, 0, .4);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--popup-content {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            z-index: -1;
        }
    }

    &--close{
        position: absolute;
        right: 13px;
        top: 5px;
        width: 10px;
        height: 10px;
        cursor: pointer;
    }
}