.card{
  &-group{
    gap: 1rem;
    color: white;

    & > *{
      border: 1px solid black;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &--header, &--footer{
    padding: .5rem 1rem;
    border-top: 1px solid black;
  }

  &--body{
    padding: 1rem;
  }
}

.flex-group.card {
  &-group {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    & > *{
      width: 200px;

      .card--footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
      }
    }

    &>*:last-child {
      color: black;

      .card--footer {
        background-color: #ccc;
      }
    }
  }
}

.grid-group.card{
  &-group{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));

    & > *{
      width: 100%;
    }
  }

    &--footer {
      justify-self: flex-end;
    }
}