.grid{
    &-group{
        display: grid;
        gap: .2rem;
        padding-block: .2rem;
    }

    &-4{
        grid-template-columns: repeat(4, 1fr);
    }

    &-3{
        grid-template-columns: repeat(3, 1fr);
    }

    &-12 {
        grid-template-columns: repeat(12, 1fr);
    }

    &-column-2{
        grid-column: span 2;
    }

    &-column-3 {
        grid-column: span 3;
    }

    &-column-4 {
        grid-column: span 4;
    }

    &-column-5 {
        grid-column: span 5;
    }
    &-column-6 {
        grid-column: span 6;
    }
    &-column-7 {
        grid-column: span 7;
    }
    &-column-12 {
        grid-column: span 12;
    }

    &-column-5-offset-5{
        grid-column: 8/ span 5;
    }

    &-column-3-offset-3 {
        grid-column: 4/ span 3;        
    }

    &-column-3-offset-6 {
        grid-column: 10/ span 3;
    }

    &-column-6-offset-3 {
        grid-column: 4/ span 6;
    }

    &-item{
        width: 100%;
    }

    &-responsive{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 100%;
    }
}