
.media {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 400px){
        flex-direction: column;
    }
}

.media-figure {
    margin-right: ($space / 2);
}

.media-content {
    flex: 1;
    min-width: 0;
    
}
