.tab-nav {
  border-bottom: 1px solid $black10;

  ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  ul.justified-tab{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;

    & > *{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  ul li {
    display: flex;
    align-items: center;
    padding: 8px 15px 3px;
    border-bottom: 2px solid transparent;
    color: $black60;

    .counter {
      display: inline-block;
      font-size: 75%;
      line-height: 1;
      padding: 3px 4px 2px;
      background: $primary;
      color: #fff;
      margin-left: 8px;
      vertical-align: middle;
      border-radius: 9px;
      transform: translateY(-2px);
    }

    &.is-active {
      color: $primary;
      border-bottom-color: $primary;
    }
  }
}