<template>
	<div class="blank-layout">
		<Header />
		<nuxt />
		<Footer />
	</div>
</template>

scri

<style lang="scss">
#__nuxt,
#__layout,
.blank-layout {
	height: 100%;
}
</style>

<style lang="scss" scoped>
.blank-layout {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	background-color: #555555;
	height: 100vh;

	.site-main {
		padding: 0;
	}
}
</style>
