<template>
	<div class="blank-layout">
		<Header @togglebar="toggleShowSidebar" />
		<div class="containers">
			<SideBar />
			<PopupSideBar
				:show-sidebar="showSidebar"
				@togglebar="toggleShowSidebar"
			/>
			<div class="content-wrapper">
				<nuxt />
				<footer class="footer">
					<hr />
					<p>&copy; 2019 suitmedia</p>
				</footer>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DefaultLayout',
	data() {
		return {
			showSidebar: false
		}
	},
	head() {
		return {
			link: [
				{
					rel: 'canonical',
					href: process.env.BASE_URL + this.$route.path
				}
			]
		}
	},
	methods: {
		toggleShowSidebar() {
			this.showSidebar = !this.showSidebar
		}
	}
}
</script>

<style lang="scss">
#__nuxt,
#__layout,
.blank-layout {
	height: 100%;
}
</style>

<style lang="scss" scoped>
.blank-layout {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #555555;
	min-height: 100vh;

	.site-main {
		padding: 0;
	}

	.containers {
		width: 100vw;
		display: grid;
		grid-template-columns: 220px 1fr;
		max-width: 100vw;
		height: calc(100vh - 58px);
		position: relative;
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr;
		}

		.content-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;
			height: calc(100vh - 58px);
			overflow: auto;
			background: white;
			padding: 1rem;

			.footer {
				width: 100%;
				max-width: 900px;
				margin: 0 auto 4rem;

				hr {
					background-color: rgb(171, 171, 171);
					height: 0.5px;
					width: 100%;
				}
			}
		}
	}
}
</style>
