<template>
	<div class="container">
		<div class="content">
			<h2>Alert</h2>
			<ShowAlerts></ShowAlerts>
			<HtmlTag :structure="data.alert"></HtmlTag>
			<hr />
			<h2>Alert Box</h2>
			<ShowAlertBox />
			<HtmlTag :structure="data.alert2"></HtmlTag>
		</div>
	</div>
</template>

<script>
import { data } from '../static/data/alert'
export default {
	data() {
		return {
			data
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Alert'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Alert',
				description: 'Alert page'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	max-width: inherit;
	background-color: white;
	.content {
		display: flex;
		flex-direction: column;
		max-width: 900px;
		margin: 4rem auto 0;
		width: 100%;

		h2 {
			color: $dark-orange;
		}

		hr {
			background-color: rgb(171, 171, 171);
			height: 0.5px;
			width: 100%;
		}
	}
}
</style>
