<template>
	<div class="container">
		<div class="content">
			<h2>Buttons</h2>
			<p v-for="(button, index) in buttons" :key="index" class="button">
				<button :class="'btn--' + button">Button Color</button>
				<button :class="'btn--ghost-' + button">Button Color</button>
				<button :class="'btn--flat-' + button">Button Color</button>
			</p>
			<HtmlTag :structure="data.button" />
			<hr />
			<h2>Button Sizing</h2>
			<p v-for="(size, index) in sizes" :key="index" class="button">
				<button
					:class="
						size !== 'normal' ? `btn--primary btn--${size}` : 'btn--primary '
					"
				>
					{{ size }} Button
				</button>
				<button
					:class="
						size !== 'normal'
							? `btn--ghost-primary btn--${size}`
							: 'btn--ghost-primary '
					"
				>
					{{ size }} Button
				</button>
				<button
					:class="
						size !== 'normal'
							? `btn--flat-primary btn--${size}`
							: 'btn--flat-primary '
					"
				>
					{{ size }} Button
				</button>
			</p>
			<HtmlTag :structure="data.size" />
			<hr />
			<h2>Icon-only Buttons</h2>
			<p v-for="(size, index) in sizes" :key="index" class="button">
				<button :class="`btn--primary btn--${size} btn--icon`">
					<font-awesome-icon icon="fas fa-search fa-sm"></font-awesome-icon>
				</button>
				<button :class="`btn--ghost-black btn--${size} btn--icon`">
					<font-awesome-icon icon="fas fa-times fa-sm"></font-awesome-icon>
				</button>
				<button :class="`btn--flat-light-grey btn--${size} btn--icon`">
					<font-awesome-icon icon="fas fa-user fa-sm"></font-awesome-icon>
				</button>
			</p>
			<HtmlTag :structure="data.icon" />
			<h2>Icon + text buttons</h2>
			<p v-for="(size, index) in sizes" :key="index" class="button">
				<button :class="`btn--primary btn--${size} btn--icon`">
					Search
					<font-awesome-icon icon="fas fa-search fa-sm"></font-awesome-icon>
				</button>
				<button :class="`btn--ghost-black btn--${size} btn--icon`">
					<font-awesome-icon icon="fas fa-times fa-sm"></font-awesome-icon
					>Cancel
				</button>
				<button :class="`btn--flat-light-grey btn--${size} btn--icon`">
					Profile<font-awesome-icon
						icon="fas fa-user fa-sm"
					></font-awesome-icon>
				</button>
			</p>
			<HtmlTag :structure="data.textIcon" />
		</div>
	</div>
</template>

<script>
import { data } from '../static/data/button'
export default {
	data() {
		return {
			data,
			buttons: [
				'primary',
				'secondary',
				'warning',
				'danger',
				'light-grey',
				'white'
			],
			sizes: ['small', 'normal', 'large']
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Headings'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Headings',
				description: 'Headings page'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	max-width: inherit;
	background-color: white;
	.content {
		display: flex;
		flex-direction: column;
		max-width: 900px;
		margin: 4rem auto 0;
		width: 100%;

		h2 {
			color: $dark-orange;
		}

		h2.black {
			color: black;
		}

		hr {
			background-color: rgb(171, 171, 171);
			height: 0.5px;
			width: 100%;
		}

		.button {
			width: 100%;
			display: flex;
			align-content: center;
			justify-content: flex-start;
			gap: 1rem;
			flex-wrap: wrap;

			@media only screen and (max-width: 500px) {
				justify-content: center;
			}
		}
	}
}
</style>
