<template>
	<div class="container">
		<div class="content">
			<h2>Flex Card</h2>
			<div class="card-group flex-group">
				<div class="card--primary mb-12">
					<div class="card--header">Card header</div>
					<img class="card--image" src="../assets/img/site-logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Dignissimos quia consectetur quibusdam repudiandae!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
				<div class="card--secondary mb-12">
					<div class="card--header">Card header</div>
					<img class="card--image" src="../assets/img/site-logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
				<div class="card--light-grey mb-12">
					<div class="card--header">Card header</div>
					<img class="card--image" src="../assets/img/site-logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam
							rerum nihil laboriosam, architecto sequi dolor doloribus impedit
							totam voluptatibus earum vel exercitationem quas commodi. Quidem,
							fugit corrupti beatae accusantium!
						</p>
					</div>
				</div>
				<div class="card mb-12">
					<img class="card--image" src="../assets/img/site-logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam
							rerum nihil laboriosam, architecto sequi dolor doloribus impedit
							totam voluptatibus earum vel exercitationem quas commodi. Quidem,
							fugit corrupti beatae accusantium!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
			</div>
			<pre>
				<code>{{ content1 }}</code>
			</pre>
			<hr />
			<h2>Baze Grid Card</h2>
			<div
				class="grid-group bzg bzg--flex card-group js-card"
				data-card="dev/data/data.json"
			>
				<div v-for="(_, index) in 6" :key="index" class="card--primary">
					<div class="card--header">Header title</div>
					<a href="#"
						><img class="card--image" src="../assets/img/site-logo.png" alt=""
					/></a>
					<div class="card--body">
						<h5>Johanna Sargent</h5>
						<p class="text-right">14 Februari 2019</p>
						<p class="mb-0">
							Voluptate sit anim consequat velit commodo qui tempor nisi dolor
							duis consequat.
						</p>
					</div>
					<div class="card--footer">Footer title</div>
				</div>
			</div>
			<pre>
				<code>{{ content2 }}</code>
			</pre>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			data: [],
			content1: `
<div class="card-group">
    <div class="card--primary mb-12">
        <div class="card--header">
            Card header
        </div>
        <img class="card--image" src="..." alt="">
        <div class="card--body">
            <h5>Card</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia consectetur quibusdam repudiandae!</p>
        </div>
        <div class="card--footer">
            Card footer
        </div>
    </div>
    <div class="card--secondary mb-12">
        <div class="card--header">
            Card header
        </div>
        <img class="card--image" src="..." alt="">
        <div class="card--body">
            <h5>Card</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="card--footer">
            Card footer
        </div>
    </div>
    <div class="card--light-grey mb-12">
        <div class="card--header">
            Card header
        </div>
        <img class="card--image" src="..." alt="">
        <div class="card--body">
            <h5>Card</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
            architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!</p>
        </div>
    </div>
    <div class="card mb-12">
        <img class="card--image" src="..." alt="">
        <div class="card--body">
            <h5>Card</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
            architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!</p>
        </div>
        <div class="card--footer">
            Card footer
        </div>
    </div>
</div>`,
			content2: `
<div class="bzg bzg--flex card-group js-card" data-card="dev/data/data.json">
    <div class="bzg_c mb-24" id="..." data-col="s12,m6,l3">
        <div class="card--primary">
            <div class="card--header">
                Header title
            </div>
            <a href="#"><img class="card--image" src="..." alt=""></a>
            <div class="card--body">
                <h5>Johanna Sargent</h5>
                <p class="text-right">14 Februari 2019</p>
                <p class="mb-0">Voluptate sit anim consequat velit commodo qui tempor nisi dolor duis consequat.</p>
            </div>
            <div class="card--footer">
                Footer title
            </div>
        </div>
    </div>
</div>`
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Get Started'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Get Started',
				description: 'Get Started page'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	max-width: inherit;
	background-color: white;
	.content {
		display: flex;
		flex-direction: column;
		max-width: 900px;
		margin: 4rem auto 0;
		width: 100%;

		h2 {
			color: $dark-orange;
		}

		hr {
			background-color: rgb(171, 171, 171);
			height: 0.5px;
			width: 100%;
		}

		pre {
			background-color: #efecf4;
		}
	}
}
</style>
