<template>
	<div class="container">
		<div class="content">
			<h2>Slick Single Item</h2>
			<VueSlickCarousel v-bind="settings1" class="carousel">
				<div
					v-for="(item, index) in ['First', 'Second', 'Third', 'Fourth']"
					:key="index"
					class="carousel-item"
				>
					<h3>{{ item }}</h3>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
						repellendus amet sit odit dolore quisquam animi adipisci! Doloremque
						aperiam sequi quam autem laboriosam consequuntur voluptatibus, eaque
						molestiae. Nam, architecto sequi? Lorem ipsum dolor sit amet,
						consectetur adipisicing elit. Quos temporibus sed labore beatae
						deserunt nemo error saepe iure odio nisi laborum incidunt fuga
						molestiae fugiat dolore dolor, molestias rerum! Eius?
					</p>
				</div>
			</VueSlickCarousel>
			<pre>
                <code>{{ content1 }}</code>
            </pre>
			<hr />
			<h2>Slick Multiple Item</h2>
			<VueSlickCarousel v-bind="settings2" class="carousel">
				<div
					v-for="(item, index) in [
						'First',
						'Second',
						'Third',
						'Fourth',
						'fifth',
						'sixth'
					]"
					:key="index"
					class="carousel-item"
				>
					<h3>{{ item }}</h3>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
						repellendus amet sit odit dolore quisquam animi adipisci! Doloremque
						aperiam sequi quam autem laboriosam consequuntur voluptatibus, eaque
						molestiae. Nam, architecto sequi?
					</p>
				</div>
			</VueSlickCarousel>
			<pre>
                <code>{{ content2 }}</code>
            </pre>
			<hr />
			<h2>Slick Data Attribute</h2>
			<VueSlickCarousel v-bind="settings3" class="carousel">
				<div
					v-for="(item, index) in [
						'First',
						'Second',
						'Third',
						'Fourth',
						'fifth',
						'sixth'
					]"
					:key="index"
					class="carousel-item"
				>
					<h3>{{ item }}</h3>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
						repellendus amet sit odit dolore quisquam animi adipisci! Doloremque
						aperiam sequi quam autem laboriosam consequuntur voluptatibus, eaque
						molestiae. Nam, architecto sequi?
					</p>
				</div>
			</VueSlickCarousel>
			<pre>
                <code>{{ content3 }}</code>
            </pre>
			<hr />
			<h2>Slick Responsive Display</h2>
			<VueSlickCarousel v-bind="settings4" class="carousel">
				<div
					v-for="(item, index) in [
						'First',
						'Second',
						'Third',
						'Fourth',
						'fifth',
						'sixth',
						'seventh',
						'eighth'
					]"
					:key="index"
					class="carousel-item"
				>
					<h3>{{ item }}</h3>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
						repellendus amet sit odit dolore quisquam animi adipisci!
					</p>
				</div>
			</VueSlickCarousel>
			<pre>
                <code>{{ content4 }}</code>
            </pre>
			<hr />
			<h2>Slick Variable Width</h2>
			<VueSlickCarousel v-bind="settings5" class="carousel">
				<div>
					<img src="//via.placeholder.com/100x150?text=100px" alt="" />
				</div>
				<div>
					<img src="//via.placeholder.com/150x150?text=150px" alt="" />
				</div>
				<div>
					<img src="//via.placeholder.com/500x150?text=500px" alt="" />
				</div>
				<div>
					<img src="//via.placeholder.com/200x150?text=200px" alt="" />
				</div>
				<div>
					<img src="//via.placeholder.com/300x150?text=300px" alt="" />
				</div>
				<div>
					<img src="//via.placeholder.com/600x150?text=600px" alt="" />
				</div>
			</VueSlickCarousel>
			<pre>
                <code>{{ content5 }}</code>
            </pre>
			<hr />
			<h2>Slick Adaptive Height</h2>
			<VueSlickCarousel v-bind="settings6">
				<div>
					<h2>First</h2>
				</div>
				<div>
					<h2>Second</h2>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
						fugiat provident, esse alias aliquid obcaecati recusandae est
						excepturi doloribus labore voluptatibus sequi consequuntur, culpa
						accusamus minima libero dolorem eos repudiandae. Lorem ipsum dolor
						sit amet, consectetur adipisicing elit. Nemo, fuga cumque quibusdam
						odit veniam. Deleniti vitae saepe expedita accusamus provident quae
						autem magnam, voluptatum itaque earum, aspernatur, molestiae animi
						labore.
					</p>
				</div>
				<div>
					<h3>Third</h3>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
						amet corporis, cupiditate blanditiis dolore architecto, sequi animi
						repudiandae culpa ipsa illo veniam officiis, porro aut? Possimus
						facilis architecto hic, maiores.
					</p>
				</div>
			</VueSlickCarousel>
			<pre>
                <code>{{ content6 }}</code>
            </pre>
			<hr />
			<h2>Slick Autoplay</h2>
			<VueSlickCarousel v-bind="settings7" class="carousel">
				<div
					v-for="(item, index) in ['First', 'Second', 'Third', 'Fourth']"
					:key="index"
					class="carousel-item"
				>
					<h3>{{ item }}</h3>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
						repellendus amet sit odit dolore quisquam animi adipisci! Doloremque
						aperiam sequi quam autem laboriosam consequuntur voluptatibus, eaque
						molestiae. Nam, architecto sequi?
					</p>
				</div>
			</VueSlickCarousel>
			<pre>
                <code>{{ content7 }}</code>
            </pre>
			<hr />
			<h2>Synchronized Slick</h2>
			<VueSlickCarousel
				v-bind="settings8"
				ref="c1"
				:asNavFor="$refs.c2"
				class="carousel"
			>
				<div v-for="(_, index) in 6" :key="index">
					<img src="//via.placeholder.com/1200x500?text=2A" alt="" />
				</div>
			</VueSlickCarousel>
			<VueSlickCarousel
				v-bind="settings9"
				ref="c2"
				:asNavFor="$refs.c1"
				class="carousel"
			>
				<div v-for="(_, index) in 6" :key="index">
					<img src="//via.placeholder.com/1200x500?text=2A" alt="" />
				</div>
			</VueSlickCarousel>
			<pre>
                <code>{{ content8 }}</code>
            </pre>
		</div>
	</div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
export default {
	components: { VueSlickCarousel },
	data() {
		return {
			slickOptions: {
				slidesToShow: 1
			},
			content1: `
<div class="slick-container js-slick-single">
    <div>
        <h2>First</h2>
        <p class="mb-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos repellendus amet sit odit dolore quisquam animi adipisci!
        Doloremque aperiam sequi quam autem laboriosam consequuntur voluptatibus, eaque molestiae. Nam, architecto sequi?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos temporibus sed labore beatae deserunt nemo error
        saepe iure odio nisi laborum incidunt fuga molestiae fugiat dolore dolor, molestias rerum! Eius?
        </p>
    </div>
    <div>
        <h2>Second</h2>
        <p class="mb-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugiat provident, esse alias aliquid obcaecati
        recusandae est excepturi doloribus labore voluptatibus sequi consequuntur, culpa accusamus minima libero dolorem eos repudiandae.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, fuga cumque quibusdam odit veniam. Deleniti vitae
        saepe expedita accusamus provident quae autem magnam, voluptatum itaque earum, aspernatur, molestiae animi labore.
        </p>
    </div>
    <div>
        <h2>Third</h2>
        <p class="mb-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione amet corporis, cupiditate blanditiis dolore architecto,
        sequi animi repudiandae culpa ipsa illo veniam officiis, porro aut? Possimus facilis architecto hic, maiores.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga animi provident aperiam amet deleniti, fugit id velit,
        soluta veniam nostrum laboriosam laborum cum similique repellat voluptas perspiciatis quidem nulla! Earum.
        </p>
    </div>
</div>`,
			content2: `
<div class="slick-container js-slick-multiple">
    <div>
        <h2>First</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore hic, tempora at quaerat voluptatem? Corporis quo odit
        officiis consequuntur ipsum mollitia ad, culpa, delectus nam odio ab enim architecto est.
    </div>
    <div>
        <h2>Second</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eveniet porro recusandae libero! Quae, minima?
        Temporibus aperiam harum omnis, tempora cum fugiat, nisi distinctio ab nostrum quia quidem minus mollitia.
    </div>
    <div>
        <h2>Third</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nostrum asperiores atque, repellat possimus facilis
        sed eum iusto ut aperiam doloribus rerum mollitia ipsum qui, aspernatur soluta reiciendis at earum?
    </div>
    <div>
        <h2>Fourth</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nihil impedit, rerum corporis odit id quisquam cupiditate
        quae commodi magnam consectetur ea consequuntur maxime debitis error numquam earum tenetur iusto.
    </div>
    <div>
        <h2>Fifth</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum consequatur magni porro eaque, deserunt autem odio
        iste at sunt praesentium harum asperiores a eum dolore, ipsum repellendus ipsam pariatur aperiam?
    </div>
    <div>
        <h2>Sixth</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, laborum, dolorum accusantium veniam dolorem autem pariatur aut
        facere a aliquam, magnam doloremque maxime incidunt. Blanditiis aliquam sit, reiciendis dignissimos alias.
    </div>
</div>`,
			content3: `
<div class="slick-container js-slick-multiple" data-slick='{"dots": false, "slidesToShow": 2, "slidesToScroll": 1}'>
    <div>
        <h2>First</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore hic, tempora at quaerat voluptatem? Corporis quo odit
        officiis consequuntur ipsum mollitia ad, culpa, delectus nam odio ab enim architecto est.
    </div>
    <div>
        <h2>Second</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eveniet porro recusandae libero! Quae, minima?
        Temporibus aperiam harum omnis, tempora cum fugiat, nisi distinctio ab nostrum quia quidem minus mollitia.
    </div>
    <div>
        <h2>Third</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nostrum asperiores atque, repellat possimus facilis
        sed eum iusto ut aperiam doloribus rerum mollitia ipsum qui, aspernatur soluta reiciendis at earum?
    </div>
    <div>
        <h2>Fourth</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nihil impedit, rerum corporis odit id quisquam cupiditate
        quae commodi magnam consectetur ea consequuntur maxime debitis error numquam earum tenetur iusto.
    </div>
    <div>
        <h2>Fifth</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum consequatur magni porro eaque, deserunt autem odio
        iste at sunt praesentium harum asperiores a eum dolore, ipsum repellendus ipsam pariatur aperiam?
    </div>
    <div>
        <h2>Sixth</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, laborum, dolorum accusantium veniam dolorem autem pariatur aut
        facere a aliquam, magnam doloremque maxime incidunt. Blanditiis aliquam sit, reiciendis dignissimos alias.
    </div>
</div>`,
			content4: `
<div class="slick-container js-slick-responsive">
    <div>
        <h2>First</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore hic, tempora at quaerat voluptatem? Corporis quo odit
        officiis consequuntur ipsum mollitia ad, culpa, delectus nam odio ab enim architecto est.
    </div>
    <div>
        <h2>Second</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eveniet porro recusandae libero! Quae, minima?
        Temporibus aperiam harum omnis, tempora cum fugiat, nisi distinctio ab nostrum quia quidem minus mollitia.
    </div>
    <div>
        <h2>Third</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nostrum asperiores atque, repellat possimus facilis
        sed eum iusto ut aperiam doloribus rerum mollitia ipsum qui, aspernatur soluta reiciendis at earum?
    </div>
    <div>
        <h2>Fourth</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nihil impedit, rerum corporis odit id quisquam cupiditate
        quae commodi magnam consectetur ea consequuntur maxime debitis error numquam earum tenetur iusto.
    </div>
    <div>
        <h2>Fifth</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum consequatur magni porro eaque, deserunt autem odio
        iste at sunt praesentium harum asperiores a eum dolore, ipsum repellendus ipsam pariatur aperiam?
    </div>
    <div>
        <h2>Sixth</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, laborum, dolorum accusantium veniam dolorem autem pariatur aut
        facere a aliquam, magnam doloremque maxime incidunt. Blanditiis aliquam sit, reiciendis dignissimos alias.
    </div>
    <div>
        <h2>Seventh</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus at itaque repudiandae voluptatibus accusantium.
        Consectetur, est ex nisi doloribus autem sapiente officiis sed et voluptatum. Tempore quas dolores ipsa ea.
    </div>
    <div>
        <h2>Eighth</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam voluptate blanditiis modi exercitationem assumenda
        enim libero adipisci. Voluptas in impedit nemo, animi saepe, aut fugit tenetur voluptatem esse sapiente eveniet.
    </div>
</div>`,
			content5: `
<div class="slick-container js-slick-variable-width">
    <div><img src="//via.placeholder.com/100x150?text=100px" alt=""></div>
    <div><img src="//via.placeholder.com/150x150?text=150px" alt=""></div>
    <div><img src="//via.placeholder.com/500x150?text=500px" alt=""></div>
    <div><img src="//via.placeholder.com/200x150?text=200px" alt=""></div>
    <div><img src="//via.placeholder.com/300x150?text=300px" alt=""></div>
    <div><img src="//via.placeholder.com/600x150?text=600px" alt=""></div>
</div>`,
			content6: `
<div class="slick-container js-slick-adaptive-height">
    <div>
        <h2>First</h2>
    </div>
    <div>
        <h2>Second</h2>
        <p class="mb-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugiat provident, esse alias aliquid obcaecati
        recusandae est excepturi doloribus labore voluptatibus sequi consequuntur, culpa accusamus minima libero dolorem eos repudiandae.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, fuga cumque quibusdam odit veniam. Deleniti vitae
        saepe expedita accusamus provident quae autem magnam, voluptatum itaque earum, aspernatur, molestiae animi labore.
        </p>
    </div>
    <div>
        <h2>Third</h2>
        <p class="mb-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione amet corporis, cupiditate blanditiis dolore architecto,
        sequi animi repudiandae culpa ipsa illo veniam officiis, porro aut? Possimus facilis architecto hic, maiores.
        </p>
    </div>
</div>`,
			content7: `
<div class="slick-container js-slick-autoplay">
    <div>
        <h2>First</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore hic, tempora at quaerat voluptatem? Corporis quo odit
        officiis consequuntur ipsum mollitia ad, culpa, delectus nam odio ab enim architecto est.
    </div>
    <div>
        <h2>Second</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eveniet porro recusandae libero! Quae, minima?
        Temporibus aperiam harum omnis, tempora cum fugiat, nisi distinctio ab nostrum quia quidem minus mollitia.
    </div>
    <div>
        <h2>Third</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nostrum asperiores atque, repellat possimus facilis
        sed eum iusto ut aperiam doloribus rerum mollitia ipsum qui, aspernatur soluta reiciendis at earum?
    </div>
    <div>
        <h2>Fourth</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nihil impedit, rerum corporis odit id quisquam cupiditate
        quae commodi magnam consectetur ea consequuntur maxime debitis error numquam earum tenetur iusto.
    </div>
    <div>
        <h2>Fifth</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum consequatur magni porro eaque, deserunt autem odio
        iste at sunt praesentium harum asperiores a eum dolore, ipsum repellendus ipsam pariatur aperiam?
    </div>
    <div>
        <h2>Sixth</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, laborum, dolorum accusantium veniam dolorem autem pariatur aut
        facere a aliquam, magnam doloremque maxime incidunt. Blanditiis aliquam sit, reiciendis dignissimos alias.
    </div>
</div>`,
			content8: `
<div class="js-slick-sync">
    <div class="slick-container js-slick-view" id="slickView1" data-nav="#slickNav1">
        <div><img src="//via.placeholder.com/1200x500?text=1A" alt=""></div>
        <div><img src="//via.placeholder.com/1200x500?text=1B" alt=""></div>
        <div><img src="//via.placeholder.com/1200x500?text=1C" alt=""></div>
        <div><img src="//via.placeholder.com/1200x500?text=1D" alt=""></div>
        <div><img src="//via.placeholder.com/1200x500?text=1E" alt=""></div>
        <div><img src="//via.placeholder.com/1200x500?text=1F" alt=""></div>
        <div><img src="//via.placeholder.com/1200x500?text=1G" alt=""></div>
    </div>
    <div class="slick-container js-slick-nav" id="slickNav1" data-nav-for="#slickView1">
        <div><img src="//via.placeholder.com/150?text=1A" alt=""></div>
        <div><img src="//via.placeholder.com/150?text=1B" alt=""></div>
        <div><img src="//via.placeholder.com/150?text=1C" alt=""></div>
        <div><img src="//via.placeholder.com/150?text=1D" alt=""></div>
        <div><img src="//via.placeholder.com/150?text=1E" alt=""></div>
        <div><img src="//via.placeholder.com/150?text=1F" alt=""></div>
        <div><img src="//via.placeholder.com/150?text=1G" alt=""></div>
    </div>
</div>

<div class="js-slick-sync">
    <div class="slick-container js-slick-view" id="slickView2" data-nav="#slickNav2">
        <div><img src="//via.placeholder.com/1200x500?text=2A" alt=""></div>
        <div><img src="//via.placeholder.com/1200x500?text=2B" alt=""></div>
        <div><img src="//via.placeholder.com/1200x500?text=2C" alt=""></div>
        <div><img src="//via.placeholder.com/1200x500?text=2D" alt=""></div>
        <div><img src="//via.placeholder.com/1200x500?text=2E" alt=""></div>
        <div><img src="//via.placeholder.com/1200x500?text=2F" alt=""></div>
        <div><img src="//via.placeholder.com/1200x500?text=2G" alt=""></div>
    </div>
    <div class="slick-container js-slick-nav" id="slickNav2" data-nav-for="#slickView2">
        <div><img src="//via.placeholder.com/150?text=2A" alt=""></div>
        <div><img src="//via.placeholder.com/150?text=2B" alt=""></div>
        <div><img src="//via.placeholder.com/150?text=2C" alt=""></div>
        <div><img src="//via.placeholder.com/150?text=2D" alt=""></div>
        <div><img src="//via.placeholder.com/150?text=2E" alt=""></div>
        <div><img src="//via.placeholder.com/150?text=2F" alt=""></div>
        <div><img src="//via.placeholder.com/150?text=2G" alt=""></div>
    </div>
</div>`,
			settings1: {
				dots: true,
				dotsClass: 'slick-dots custom-dot-class',
				edgeFriction: 0.35,
				infinite: false,
				speed: 500,
				slidesToShow: 1,
				slidesToScroll: 1
			},
			settings2: {
				dots: true,
				dotsClass: 'slick-dots custom-dot-class',
				edgeFriction: 0.35,
				infinite: false,
				speed: 500,
				slidesToShow: 3,
				slidesToScroll: 3
			},
			settings3: {
				dots: true,
				dotsClass: 'slick-dots custom-dot-class',
				edgeFriction: 0.35,
				infinite: true,
				speed: 500,
				slidesToShow: 2,
				slidesToScroll: 1
			},
			settings4: {
				dots: true,
				infinite: false,
				speed: 500,
				slidesToShow: 4,
				slidesToScroll: 4,
				initialSlide: 0,
				responsive: [
					{
						breakpoint: 1024,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 3,
							infinite: true,
							dots: true
						}
					},
					{
						breakpoint: 600,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 2,
							initialSlide: 2
						}
					},
					{
						breakpoint: 480,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			},
			settings5: {
				dots: true,
				infinite: true,
				centerMode: true,
				centerPadding: '20px',
				slidesToShow: 1,
				slidesToScroll: 1,
				variableWidth: true
			},
			settings6: {
				dots: true,
				infinite: true,
				speed: 300,
				slidesToShow: 1,
				adaptiveHeight: true
			},
			settings7: {
				arrows: false,
				dots: true,
				infinite: true,
				slidesToShow: 3,
				slidesToScroll: 1,
				autoplay: true,
				autoplaySpeed: 1000,
				cssEase: 'linear'
			},
			settings8: {
				dots: false,
				dotsClass: 'slick-dots custom-dot-class',
				edgeFriction: 0.35,
				infinite: false,
				speed: 500,
				slidesToShow: 1,
				focusOnSelect: true,
				arrows: false,
				slidesToScroll: 1
			},
			settings9: {
				dots: true,
				dotsClass: 'slick-dots custom-dot-class',
				edgeFriction: 0.35,
				infinite: true,
				speed: 500,
				slidesToShow: 4,
				slidesToScroll: 1,
				focusOnSelect: true
			}
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Headings'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Headings',
				description: 'Headings page'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	max-width: inherit;
	background-color: white;
	.content {
		display: flex;
		flex-direction: column;
		max-width: 900px;
		margin: 4rem auto 0;
		width: 100%;

		h2 {
			color: $dark-orange;
		}

		h2.black {
			color: black;
		}

		hr {
			background-color: rgb(171, 171, 171);
			height: 0.5px;
			width: 100%;
		}

		pre {
			background-color: #efecf4;
		}
		.carousel {
			margin-bottom: 2rem;

			::v-deep .slick-prev:before,
			::v-deep .slick-next:before {
				font-size: 30px;
				color: black;
			}

			::v-deep .slick-prev {
				left: -40px;
			}
			::v-deep .slick-next {
				right: -30px;
			}

			::v-deep .slick-list {
				margin: 0 -5px;
			}
			::v-deep .slick-slide > div {
				padding: 0 5px;
			}

			.carousel-item {
				width: 100%;

				& > * {
					width: 100%;
				}
			}
		}
	}
}
</style>
