<template>
	<div class="container">
		<div class="content">
			<h2>Text Color</h2>
			<ShowColor />
			<hr />
			<h2>Background Color</h2>
			<ShowBackgroundColor />
			<hr />
			<h2>Black Tones</h2>
			<ShowBlackTones />
			<hr />
			<h2>Link Color</h2>
			<ShowLinkColor />
		</div>
	</div>
</template>

<script>
import { data } from '../static/data/heading'
export default {
	data() {
		return {
			data,
			headings: []
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/headings.json`)
			.then(res => {
				this.headings = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Headings'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Headings',
				description: 'Headings page'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	max-width: inherit;
	background-color: white;
	.content {
		display: flex;
		flex-direction: column;
		max-width: 900px;
		margin: 4rem auto 0;
		width: 100%;

		h2 {
			color: $dark-orange;
		}

		h2.black {
			color: black;
		}

		hr {
			background-color: rgb(171, 171, 171);
			height: 0.5px;
			width: 100%;
		}
	}
}
</style>
