<template>
	<div class="container">
		<div class="content">
			<h2>Environment</h2>
			<ul>
				<li>
					<p>
						<strong>NodeJS</strong> versi 8 ke atas. Node harus di-install
						sebelum meng-install lainnya.
					</p>
					<p>
						<a href="https://nodejs.org/en">Install</a>
						|
						<a href="https://nodejs.org/dist/latest-v4.x/docs/api/"
							>Documentation</a
						>
					</p>
				</li>
				<li>
					<p>
						<Strong>Yeoman</Strong>. Jalankan perintah di bawah di command
						prompt.
					</p>
					<PreCode> npm i -g yo </PreCode>
				</li>
				<li>
					<p>
						<Strong>Gulp</Strong>. Jalankan perintah di bawah di command prompt.
					</p>
					<PreCode> npm i -g gulp-cli </PreCode>
				</li>
				<li>
					<p>
						<Strong>Git</Strong>
					</p>
					<p>
						<a href="https://www.git-scm.com/download/">install</a>
						|
						<a href="https://github.s3.amazonaws.com/media/progit.en.pdf"
							>Pro Git (PDF)</a
						>
					</p>
				</li>
				<li>
					<p>
						<Strong>XAMPP</Strong>
					</p>
					<p>
						<a href="https://www.apachefriends.org/index.html">install</a>
					</p>
				</li>
				<li>
					<p>
						<Strong>Generator Baze</Strong>
					</p>
					<p>
						Install
						<a href="https://github.com/suitmedia/generator-suit-baze"
							>generator baze</a
						>
						dengan menjalankan perintah di bawah ini.
					</p>
					<PreCode> npm install generator-baze -g </PreCode>
					<p>Untuk install ke dalam project frontend, jalankan</p>
					<PreCode>yo baze</PreCode>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			data: []
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Get Started'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Get Started',
				description: 'Get Started page'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	max-width: inherit;
	background-color: white;
	.content {
		display: flex;
		flex-direction: column;
		max-width: 900px;
		margin: 4rem auto 0;
		width: 100%;

		h2 {
			color: $dark-orange;
		}

		:deep(.content-list) {
			color: red;
		}

		ul {
			width: 100%;
			li {
				p {
					a {
						color: #31abf3;
					}
				}
			}
		}
	}
}
</style>
