<template>
	<div class="container">
		<div class="content">
			<h2>Default Grid</h2>
			<div class="grid-group grid-4">
				<div v-for="(_, index) in 4" :key="index" class="grid-item">
					<div class="text-center bg-primary text-white">bzg_c m4</div>
				</div>
			</div>
			<div class="grid-group grid-3">
				<div v-for="(_, index) in 3" :key="index" class="grid-item">
					<div class="text-center bg-primary text-white">bzg_c m3</div>
				</div>
			</div>
			<pre>
				<code>{{ content1 }}</code>
			</pre>
			<hr />
			<h2>No-Gutter Grid</h2>
			<div
				v-for="(grid, index2) in grids"
				:key="index2"
				class="grid-group grid-12"
			>
				<div
					v-for="(_, index) in grid"
					:key="index"
					:class="`grid-item grid-column-${12 / grid}`"
				>
					<div class="text-center bg-primary text-white">m{{ 12 / grid }}</div>
				</div>
			</div>
			<div class="grid-group grid-12">
				<div class="grid-item grid-column-7">
					<div class="text-center bg-primary text-white">m7</div>
				</div>
				<div class="grid-item grid-column-5">
					<div class="text-center bg-primary text-white">m5</div>
				</div>
			</div>
			<div class="grid-group grid-12">
				<div class="grid-item grid-column-12">
					<div class="text-center bg-primary text-white">m12</div>
				</div>
			</div>
			<pre>
				<code>{{ content2 }}</code>
			</pre>
			<hr />
			<h2>Grid with Offset</h2>
			<div class="grid-group grid-12">
				<div class="grid-item grid-column-2">
					<div class="text-center bg-primary text-white">m2</div>
				</div>
				<div class="grid-item grid-column-5-offset-5">
					<div class="text-center bg-primary text-white">m5</div>
				</div>
			</div>
			<div class="grid-group grid-12">
				<div class="grid-item grid-column-3-offset-3">
					<div class="text-center bg-primary text-white">m3</div>
				</div>
				<div class="grid-item grid-column-3-offset-6">
					<div class="text-center bg-primary text-white">m3</div>
				</div>
			</div>
			<div class="grid-group grid-12">
				<div class="grid-item grid-column-6-offset-3">
					<div class="text-center bg-primary text-white">m3</div>
				</div>
			</div>
			<pre>
				<code>{{ content3 }}</code>
			</pre>
			<hr />
			<h2>Responsive Grid</h2>
			<div class="grid-group grid-responsive">
				<div v-for="(_, index) in 2" :key="index" class="grid-item">
					<div class="text-center bg-primary text-white">Responsive</div>
				</div>
			</div>
			<pre>
				<code>{{ content4 }}</code>
			</pre>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			data: [],
			grids: [12, 6, 4, 3, 2],
			content1: `
<div class="bzg">
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
</div>
<div class="bzg">
    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
</div>`,
			content2: `
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m6"><div class="text-center bg-primary text-white">bzg_c m6</div></div>
    <div class="bzg_c" data-col="m6"><div class="text-center bg-primary text-white">bzg_c m6</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m7"><div class="text-center bg-primary text-white">bzg_c m7</div></div>
    <div class="bzg_c" data-col="m5"><div class="text-center bg-primary text-white">bzg_c m5</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m12"><div class="text-center bg-primary text-white">bzg_c m12</div></div>
</div>`,
			content3: `
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
    <div class="bzg_c" data-col="m5" data-offset="m5"><div class="text-center bg-primary text-white">bzg_c m5 offset=m5</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m3" data-offset="m3"><div class="text-center bg-primary text-white">bzg_c m3 offset=m3</div></div>
    <div class="bzg_c" data-col="m3" data-offset="m3"><div class="text-center bg-primary text-white">bzg_c m3 offset=m3</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m6" data-offset="m3"><div class="text-center bg-primary text-white">bzg_c m6 offset=m3</div></div>
</div>`,
			content4: `
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="s12,m9,l6"><div class="text-center bg-primary text-white">bzg_c s12,m9,l6</div></div>
    <div class="bzg_c" data-col="s6,m3,l6"><div class="text-center bg-primary text-white">bzg_c s6,m3,l6</div></div>
</div>`
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Get Started'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Get Started',
				description: 'Get Started page'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	max-width: inherit;
	background-color: white;
	.content {
		display: flex;
		flex-direction: column;
		max-width: 900px;
		margin: 4rem auto 0;
		width: 100%;

		h2 {
			color: $dark-orange;
		}

		hr {
			background-color: rgb(171, 171, 171);
			height: 0.5px;
			width: 100%;
		}
		pre {
			background-color: #efecf4;
		}
	}
}
</style>
