<template>
	<div class="container">
		<Logo :width="140" />
		<p>A minimal setup for your frontend environment</p>
		<div class="buttons">
			<nuxt-link class="btn--orange" to="/get-started">Get Started</nuxt-link>
			<a
				class="btn--ghost-white"
				href="https://github.com/suitmedia/suit-baze"
				target="_blank"
				>Download</a
			>
		</div>
	</div>
</template>

<script>
export default {
	layout: 'blanklayout',
	data() {
		return {
			data: []
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.container {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	p {
		font-size: 1.7rem;
		letter-spacing: 3px;
		margin-block: 1rem 2rem;
		text-align: center;
	}

	.buttons {
		display: flex;
		gap: 1rem;

		@media only screen and (max-width: 500px) {
			flex-direction: column;
		}

		a {
			width: 232px;
			font-weight: lighter;
			text-transform: uppercase;

			@media only screen and (max-width: 232px) {
				width: 100%;
				margin-inline: 0.5rem;
			}
		}
	}
}
</style>
