<template>
	<div class="container">
		<div class="content">
			<h2>Lists</h2>
			<h5>Ordered List</h5>
			<ol>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
				<li>
					Incidunt magni consequatur adipisci officiis vero placeat consectetur
				</li>
				<li>
					id facere,
					<ol type="a">
						<li>molestiae in,</li>
						<li>ducimus necessitatibus hic ad esse consequuntur</li>
					</ol>
				</li>
				<li>dignissimos sequi illum doloremque.</li>
			</ol>
			<HtmlTag :structure="data.ordered" />
			<h5>Unordered List</h5>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
				<li>
					Incidunt magni consequatur adipisci officiis vero placeat consectetur
				</li>
				<li>
					id facere,
					<ul>
						<li>molestiae in,</li>
						<li>ducimus necessitatibus hic ad esse consequuntur</li>
					</ul>
				</li>
				<li>dignissimos sequi illum doloremque.</li>
			</ul>
			<HtmlTag :structure="data.unordered" />
			<h5>Inline List</h5>
			<ol class="list-inline">
				<li>Lorem ></li>
				<li>Ipsum ></li>
				<li>Dolor</li>
			</ol>
			<HtmlTag :structure="data.inline" />
			<h5>No Style List</h5>
			<ul class="list-nostyle">
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
				<li>
					Incidunt magni consequatur adipisci officiis vero placeat consectetur
				</li>
				<li>
					id facere,
					<ul>
						<li>molestiae in,</li>
						<li>ducimus necessitatibus hic ad esse consequuntur</li>
					</ul>
				</li>
				<li>dignissimos sequi illum doloremque.</li>
			</ul>
			<HtmlTag :structure="data.noStyle" />
		</div>
	</div>
</template>

<script>
import { data } from '../static/data/list'
export default {
	data() {
		return {
			data
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Get Started'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Get Started',
				description: 'Get Started page'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	max-width: inherit;
	background-color: white;
	.content {
		display: flex;
		flex-direction: column;
		max-width: 900px;
		margin: 4rem auto 0;
		width: 100%;

		h2 {
			color: $dark-orange;
		}

		ul {
			width: 100%;
			li {
				p {
					a {
						color: #31abf3;
					}
				}
			}
		}
	}
}
</style>
