<template>
	<div class="container">
		<div class="content">
			<h2>Media Objects</h2>
			<figure class="media">
				<div class="media-figure">
					<img src="../assets/img/site-logo.png" alt="" width="100px" />
				</div>
				<div class="media-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
					incidunt tempora ratione sapiente, nesciunt consectetur officiis
					commodi soluta. Sit sapiente veritatis non quia vitae, facilis nam
					rerum, reprehenderit modi. Fugiat?
				</div>
			</figure>
			<pre>
				<code>{{ content1 }}</code>
			</pre>
			<hr />
			<h2>With Title, Button, and Link</h2>
			<figure class="media">
				<div class="media-figure">
					<img src="../assets/img/site-logo.png" alt="" width="200px" />
				</div>
				<div class="media-content">
					<h4 class="media-title text-primary">Title</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
						pariatur.
					</p>
					<p class="mb-0">
						<button class="btn--primary btn--small btn--icon mr-8">
							<font-awesome-icon icon="fas fa-thumbs-up"></font-awesome-icon>
						</button>
						<a href="#">Visit somewhere...</a>
					</p>
				</div>
			</figure>
			<pre>
				<code>{{ content2 }}</code>
			</pre>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			data: [],
			content1: `
<figure class="media">
	<div class="media-figure">
		<img src="..." alt="">
	</div>
	<div class="media-content">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam incidunt tempora ratione sapiente,
		nesciunt consectetur officiis commodi soluta. Sit sapiente veritatis non quia vitae, facilis nam rerum, reprehenderit modi. Fugiat?
	</div>
</figure>`,
			content2: `
<figure class="media">
    <div class="media-figure">
        <img src="..." alt="" width="150px">
    </div>
    <div class="media-content">
        <h4 class="media-title text-primary">Title</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p class="mb-0">
            <button class="btn--primary btn--small btn--icon mr-8"><i class="fas fa-thumbs-up"></i></button>
            <a href="#">Visit somewhere...</a>
        </p>
    </div>
</figure>`
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Get Started'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Get Started',
				description: 'Get Started page'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	max-width: inherit;
	background-color: white;
	.content {
		display: flex;
		flex-direction: column;
		max-width: 900px;
		margin: 4rem auto 0;
		width: 100%;

		h2 {
			color: $dark-orange;
		}

		hr {
			background-color: rgb(171, 171, 171);
			height: 0.5px;
			width: 100%;
		}

		pre {
			background-color: #efecf4;
		}
	}
}
</style>
