<!-- eslint-disable vue/no-use-v-if-with-v-for -->
<template>
	<div class="container">
		<div class="content">
			<h2>Pagination</h2>
			<ol class="pagination">
				<li>
					<a href="#">
						<font-awesome-icon icon="fas fa-angle-left"></font-awesome-icon>
					</a>
				</li>
				<a href="#" class="is-active">1</a>
				<li v-for="(_, index) in 3" :key="index">
					<a href="#">{{ index + 2 }}</a>
				</li>
				<li>
					<a href="#">
						<font-awesome-icon icon="fas fa-angle-right"></font-awesome-icon>
					</a>
				</li>
			</ol>
			<pre>
				<code>{{ content1 }}</code>
			</pre>
			<hr />
			<h2>Left Pagination</h2>
			<ol class="pagination pagination--left">
				<li>
					<a href="#">
						<font-awesome-icon icon="fas fa-angle-left"></font-awesome-icon>
					</a>
				</li>
				<a href="#" class="is-active">1</a>
				<li v-for="(_, index) in 3" :key="index">
					<a href="#">{{ index + 2 }}</a>
				</li>
				<li>
					<a href="#">
						<font-awesome-icon icon="fas fa-angle-right"></font-awesome-icon>
					</a>
				</li>
			</ol>
			<pre>
				<code>{{ content2 }}</code>
			</pre>
			<hr />
			<h2>Right Pagination</h2>
			<ol class="pagination pagination--right">
				<li>
					<a href="#">
						<font-awesome-icon icon="fas fa-angle-left"></font-awesome-icon>
					</a>
				</li>
				<a href="#" class="is-active">1</a>
				<li v-for="(_, index) in 3" :key="index">
					<a href="#">{{ index + 2 }}</a>
				</li>
				<li>
					<a href="#">
						<font-awesome-icon icon="fas fa-angle-right"></font-awesome-icon>
					</a>
				</li>
			</ol>
			<pre>
				<code>{{ content3 }}</code>
			</pre>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			content1: `
<ol class="pagination">
    <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
    <li><a class="is-active" href="#">1</a></li>
    <li><a href="#" disabled>2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
</ol>`,
			content2: `
<ol class="pagination--left">
    <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
</ol>`,
			content3: `
<ol class="pagination--right">
    <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
</ol>`
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Get Started'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Get Started',
				description: 'Get Started page'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	max-width: inherit;
	background-color: white;
	.content {
		display: flex;
		flex-direction: column;
		max-width: 900px;
		margin: 4rem auto 0;
		width: 100%;

		h2 {
			color: $dark-orange;
		}

		hr {
			background-color: rgb(171, 171, 171);
			height: 0.5px;
			width: 100%;
		}

		pre {
			background-color: #efecf4;
		}
	}
}
</style>
