<!-- eslint-disable vue/no-use-v-if-with-v-for -->
<template>
	<div class="container">
		<div class="content">
			<h2>Responsive Image (Resolution Switch)</h2>
			<img
				srcset="
					../assets/img/koala.png            100w,
					../assets/img/koala-500x500.png    500w,
					../assets/img/koala-1010x1010.png 1010w
				"
				sizes="(max-width: 28em) 100px,
            (max-width: 75em) 500px,
            1010px"
				src="../assets/img/koala.png"
				alt="Koala Doll"
			/>
			<pre>
				<code>{{ content1 }}</code>
			</pre>
			<hr />
			<h2>Responsive Image (Picture tag)</h2>
			<picture>
				<source
					media="(min-width: 64em)"
					srcset="../assets/img/koala-1200x754.png"
				/>
				<source
					media="(min-width: 28em)"
					srcset="../assets/img/koala-600x377.png"
				/>
				<img
					src="../assets/img/koala-290x290.png"
					alt="Mother and baby koala"
				/>
			</picture>
			<pre>
				<code>{{ content2 }}</code>
			</pre>
			<hr />
			<h2>Lazy Loading</h2>
			<div class="lazy-loading-container">
				<img
					v-for="(_, index) in 120"
					:key="index"
					class="js-lazyload mb-4"
					src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
				/>
			</div>
			<pre>
				<code>{{ content3 }}</code>
			</pre>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			content1: `
<img srcset="assets/img/koala-100x100.jpg 100w,
             assets/img/koala-500x500.jpg 500w,
             assets/img/koala-1010x1010.jpg 1010w"
     sizes="(max-width: 28em) 100px,
            (max-width: 75em) 500px,
            1010px"
     src="assets/img/koala-100x100.jpg" alt="Koala Doll">`,
			content2: `
<picture>
    <source media="(min-width: 64em)" srcset="assets/img/koala-1200x754.jpg">
    <source media="(min-width: 28em)" srcset="assets/img/koala-600x377.jpg">
    <img src="assets/img/koala-290x290.jpg" alt="Mother and baby koala">
</picture>`,
			content3: `
<img class="js-lazyload mb-4"
     src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
     data-src="http://lorempixel.com/80/100"
     width="80" height="100">`
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Get Started'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Get Started',
				description: 'Get Started page'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	max-width: inherit;
	background-color: white;
	.content {
		display: flex;
		flex-direction: column;
		max-width: 900px;
		margin: 4rem auto 0;
		width: 100%;

		h2 {
			color: $dark-orange;
		}

		hr {
			background-color: rgb(171, 171, 171);
			height: 0.5px;
			width: 100%;
		}

		.lazy-loading-container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
			gap: 0.3rem;

			& > * {
				width: 100%;
			}
		}

		pre {
			background-color: #efecf4;
		}
	}
}
</style>
