<template>
	<div class="container">
		<div class="content">
			<h2>Table</h2>
			<div class="table-wrapper">
				<table class="table">
					<thead>
						<tr>
							<th v-for="(header, index) in tables.header" :key="index">
								{{ header }}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(data, index) in tables.data" :key="index">
							<td v-for="(row, index2) in data" :key="index2">{{ row }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<pre>
				<code>{{ content1 }}</code>
			</pre>
			<hr />
			<h2>Data Table</h2>
			<div class="table-container">
				<div class="search-container">
					<div class="entries">
						<p>Show</p>
						<select>
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
						<p>enties</p>
					</div>
					<form class="search" @submit.prevent>
						<p>Search:</p>
						<input type="text" />
					</form>
				</div>
				<table class="js-datatable mb-4 table">
					<thead>
						<tr>
							<th>ID</th>
							<th>First Name</th>
							<th>Last Name</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(data, index) in tableData.data" :key="index">
							<td>{{ data.id }}</td>
							<td>{{ data.first_name }}</td>
							<td>{{ data.last_name }}</td>
						</tr>
					</tbody>
				</table>
				<div class="pagination-container">
					<p>Showing 0 to 0 of 0 entries (filtered from NaN total entries)</p>
					<ol class="pagination">
						<li>
							<a href="#">
								<font-awesome-icon icon="fas fa-angle-left"></font-awesome-icon>
							</a>
						</li>
						<li v-for="(_, index) in 4" :key="index">
							<a href="#">{{ index + 1 }}</a>
						</li>
						<li>
							<a href="#">
								<font-awesome-icon
									icon="fas fa-angle-right"
								></font-awesome-icon>
							</a>
						</li>
					</ol>
				</div>
			</div>
			<pre>
				<code>{{ content2 }}</code>
			</pre>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			tables: [],
			grids: [12, 6, 4, 3, 2],
			tableData: {},
			page: 1,
			content1: `
<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
                <th>Header 4</th>
                <th>Header 5</th>
                <th>Header 6</th>
                <th>Header 7</th>
                <th>Header 8</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row 2 Col 1</td>
                <td>Row 2 Col 2</td>
                <td>Row 2 Col 3</td>
                <td>Row 2 Col 4</td>
                <td>Row 2 Col 5</td>
                <td>Row 2 Col 6</td>
                <td>Row 2 Col 7</td>
                <td>Row 2 Col 8</td>
            </tr>
            <tr>
                <td>Row 3 Col 1</td>
                <td>Row 3 Col 2</td>
                <td>Row 3 Col 3</td>
                <td>Row 3 Col 4</td>
                <td>Row 3 Col 5</td>
                <td>Row 3 Col 6</td>
                <td>Row 3 Col 7</td>
                <td>Row 3 Col 8</td>
            </tr>
            <tr>
                <td>Change</td>
                <td>Window</td>
                <td>size</td>
                <td>to see</td>
                <td>Table</td>
                <td>Wrapper</td>
                <td>in</td>
                <td>action!</td>
            </tr>
        </tbody>
    </table>
</div>`,
			content2: `
<table class="js-datatable mb-4" data-table="https://reqres.in/api/users?page=1&per_page=12">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
</table>`
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/table.json`)
			.then(res => {
				this.tables = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})

		this.tableData = await this.$axios.$get(
			'https://reqres.in/api/users?page=1&per_page=12'
		)
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Get Started'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Get Started',
				description: 'Get Started page'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	max-width: inherit;
	background-color: white;
	.content {
		display: flex;
		flex-direction: column;
		max-width: 900px;
		margin: 4rem auto 0;
		width: 100%;

		.pagination-container,
		.search-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			@media only screen and (max-width: 450px) {
				flex-direction: column;
				gap: 1rem;
			}

			.entries,
			.search {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: 1rem;

				& > * {
					margin: 0;
				}

				select {
					padding: 0.5rem 0.8rem;
				}
			}
		}

		.table-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			gap: 0.5rem;
		}

		h2 {
			color: $dark-orange;
		}

		hr {
			background-color: rgb(171, 171, 171);
			height: 0.5px;
			width: 100%;
		}

		pre {
			background-color: #efecf4;
		}
	}
}
</style>
