<!-- eslint-disable vue/no-use-v-if-with-v-for -->
<template>
	<div class="container">
		<div class="content">
			<h2>Tabs</h2>
			<div class="tab-nav">
				<ul class="tabs__bar js-tabs">
					<li
						v-for="(_, index) in 4"
						:key="index"
						:class="`tabs__nav ${itemActive1 === index + 1 && 'is-active'}`"
						@click="itemActive1 = index + 1"
					>
						TAB {{ index + 1 }}
					</li>
				</ul>
			</div>

			<div class="tabs__content">
				<div
					v-for="(_, index) in 4"
					v-if="itemActive1 === index + 1"
					:key="index"
					class="tabs__item"
				>
					Item {{ index + 1 }}
				</div>
			</div>
			<pre>
				<code>{{ content1 }}</code>
			</pre>
			<hr />
			<h2>Justified Tabs</h2>
			<div class="tab-nav">
				<ul class="tabs__bar justified-tab">
					<li
						v-for="(_, index) in 4"
						:key="index"
						:class="`tabs__nav ${itemActive2 === index + 1 && 'is-active'}`"
						@click="itemActive2 = index + 1"
					>
						TAB {{ index + 1 }}
					</li>
				</ul>
			</div>

			<div class="tabs__content">
				<div
					v-for="(_, index) in 4"
					v-if="itemActive2 === index + 1"
					:key="index"
					class="tabs__item"
				>
					Item {{ index + 1 }}
				</div>
			</div>
			<pre>
				<code>{{ content2 }}</code>
			</pre>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			itemActive1: 1,
			itemActive2: 1,
			content1: `
<ul class="tabs__bar js-tabs">
    <li class="tabs__nav js-tabs-link is-active" data-control="#item1">TAB 1</li>
    <li class="tabs__nav js-tabs-link" data-control="#item2">TAB 2</li>
    <li class="tabs__nav js-tabs-link" data-control="#item3">TAB 3</li>
    <li class="tabs__nav js-tabs-link" data-control="#item4">TAB 4</li>
</ul>
<div class="tabs__content">
    <div class="tabs__item js-tabs-item is-active" id="item1">
        Item 1
    </div>
    <div class="tabs__item js-tabs-item" id="item2">
        Item 2
    </div>
    <div class="tabs__item js-tabs-item" id="item3">
        Item 3
    </div>
    <div class="tabs__item js-tabs-item" id="item4">
        Item 4
    </div>
</div>`,
			content2: `
<ul class="tabs__bar--justify js-tabs">
    <li class="tabs__nav js-tabs-link is-active" data-control="#justified1">TAB 1</li>
    <li class="tabs__nav js-tabs-link" data-control="#justified2">TAB 2</li>
    <li class="tabs__nav js-tabs-link" data-control="#justified3">TAB 3</li>
    <li class="tabs__nav js-tabs-link" data-control="#justified4">TAB 4</li>
</ul>
<div class="tabs__content">
    <div class="tabs__item js-tabs-item is-active" id="justified1">
        Item 1
    </div>
    <div class="tabs__item js-tabs-item" id="justified2">
        Item 2
    </div>
    <div class="tabs__item js-tabs-item" id="justified3">
        Item 3
    </div>
    <div class="tabs__item js-tabs-item" id="justified4">
        Item 4
    </div>
</div>`
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Get Started'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Get Started',
				description: 'Get Started page'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	max-width: inherit;
	background-color: white;
	.content {
		display: flex;
		flex-direction: column;
		max-width: 900px;
		margin: 4rem auto 0;
		width: 100%;

		h2 {
			color: $dark-orange;
		}

		hr {
			background-color: rgb(171, 171, 171);
			height: 0.5px;
			width: 100%;
		}

		li {
			cursor: pointer;
		}

		pre {
			background-color: #efecf4;
		}
	}
}
</style>
