<template>
	<div class="container">
		<div class="content">
			<h2>Text Alignment</h2>
			<h5>Left Align</h5>
			<p class="text-left">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
				velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
				occaecat cupidatat non proident, sunt in culpa qui officia deserunt
				mollit anim id est laborum.
			</p>
			<HtmlTag :structure="left" />
			<h5>Center Align</h5>
			<p class="text-center">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
				velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
				occaecat cupidatat non proident, sunt in culpa qui officia deserunt
				mollit anim id est laborum.
			</p>
			<HtmlTag :structure="center" />
			<h5>Right Align</h5>
			<p class="text-right">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
				velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
				occaecat cupidatat non proident, sunt in culpa qui officia deserunt
				mollit anim id est laborum.
			</p>
			<HtmlTag :structure="right" />
		</div>
	</div>
</template>

<script>
import { data } from '../static/data/list'
export default {
	data() {
		return {
			data,
			left: [
				{
					tag: 'p',
					class: 'text-left',
					text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
					close: true
				}
			]
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Get Started'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Get Started',
				description: 'Get Started page'
			}
		})
	},
	computed: {
		center() {
			return this.left.map(item => {
				return { ...item, class: 'text-center' }
			})
		},
		right() {
			return this.left.map(item => {
				return { ...item, class: 'text-right' }
			})
		}
	}
}
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	max-width: inherit;
	background-color: white;
	.content {
		display: flex;
		flex-direction: column;
		max-width: 900px;
		margin: 4rem auto 0;
		width: 100%;

		h2 {
			color: $dark-orange;
		}

		ul {
			width: 100%;
			li {
				p {
					a {
						color: #31abf3;
					}
				}
			}
		}
	}
}
</style>
